@charset "UTF-8";

/* 글꼴 삽입 */
@font-face {
	font-family: 'Nanum Gothic';
	src: url('../font/NanumGothic-Regular.ttf') format('truetype');
}

body {
	font-family: 'Nanum Gothic', 맑은 고딕; /* 메인 글꼴 */
}

/* 배경 */
.mainBgGradient {
	
	/* 그라데이션 */
	background-image: linear-gradient(135deg, lightgray, dimgray);
	
	/* 최소 높이 */
	min-height: 1500px;
}

/* 네비 박스*/
.mainNavBox {
	/* 배경색 */
	background-color: rgba(255, 255, 255, 1);
	
	/* 글자색*/
	color: #000000;
	
	/* 패딩 */
	padding: 0px;
	
	/* 박스 경계선 */
	border: solid 3px #000000;
	
	/* 위치 지정 */
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
}
/* 컨텐츠 박스 */	
.mainContentBox {
	
	/* 배경색 */
	background-color: rgba(255, 255, 255, 1);
	
	/* 글자색*/
	color: #000000;
	
	/* 패딩 */
	padding: 0px;
	
	/* 박스 경계선 */
	border: solid 3px #000000;
	
	/* 위치 지정 */
	position: absolute;
	top: 40%;
	left: 10%;
	width: 80%;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	width: auto;
}

img[usemap] {
	border: none;
	height: auto;
	max-width: 100%;
	width: auto;
}